.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 114px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #ffffff 124%);
}

.headerLogoContainer {
    width: 100%;
    padding: 0px 150px;
    max-width: 1140px;
}

.headerLogo {
    height: 24px;
}

/* Responsive - Mobile */

@media only screen and (max-width: 600px) {

    .headerContainer {
        justify-content: center;
    }

    .headerLogoContainer {
        padding: inherit;
        width: inherit;
    }

}