.newsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    justify-content: space-between
}

@media only screen and (max-width: 960px) {
    
    .newsContainer {
        flex-direction: column;
    }

}