.newsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 488px;
}

@media only screen and (max-width: 960px) {
    
    .newsContainer {
        height: auto;
    }

}