.body {
    margin: 0 auto;
    max-width: 1140px;
}

.tabsSection {
    text-align: center;
    padding: 70px 0px 63px;
}

.dropdownSection {
    padding-bottom: 23px;
}

.newsSection {
    min-height: 488px;
}

.paginationSection {
    text-align: center;
    padding: 81px 0px 98px 0px;
}