.body {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0px 30px;
}

.tabsSection {
    text-align: center;
    padding: 70px 0px 63px;
}

.dropdownSection {
    padding-bottom: 23px;
}

/* Responsive - Medium screens */

@media only screen and (max-width: 1280px) {

    .body {
        padding: 0px 40px;
    }

}

/* Responsive - Small screens */

@media only screen and (max-width: 960px) {

    .body {
        padding: 96px 20px 0px;
    }

    .tabsSection {
        padding: 35px 0px;
    }

}